<form method="POST" action="/user/login" enctype="application/x-www-form-urlencoded">
<div><input type="text" key ="email"></div>
<div><input type="text" key="pw"></div>
<button type="submit">sub</button>
</form>