<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
  $.getScript('/product/list',function(data){
    var json=jQuery.parseJSON(data);
    $.each(json,function(i,val){
      //$.each(val,function(key,res){
        //alert(data)
        //var json =data.replace('[',"");
        
        $('div').append('<p>key='+val._id+'result');
      //});
    });
  });
});
</script>
<div></div>